mixin navItem(className, link, text)
    .nav-item
        .content
            a.highlight(href=link)
                if text
                    = text
                else if block
                    block
                else
                    = 'Placeholder'

mixin dropdownNavItem(className, link, text, dropdown)
    .nav-item
        .content
            a.highlight(href=link)= text
        .dropdown
            each item in dropdown
                .content
                    a.highlight(href=item.link)= item.text

mixin _framedContent(image)
    img.framed-image(src=image alt="image")
    img.spacer
    .text-container
        .text-content
            block

mixin framedContent(image, side, link)
    if link
        a.framed-text(href=link class!=(attributes.class || '') + (side && side === 'right' ? ' right' : ' left'))
            +_framedContent(image, side)
                block
    else
        .framed-text(class!=(attributes.class || '') + (side && side === 'right' ? ' right' : ' left'))
            +_framedContent(image, side)
                block

mixin linkedPage(image, link, target, showLink)
    a(href=link target=target class!=(attributes.class || '') + ' linkedPage')
        div.image(style="background-image: url('" + image + "')")
        .text-container
            .text-content
                block
                if showLink
                    p.link= link

mixin slidingFrames(position)
    .sliding-frames(class=((attributes.class || '') + position ? ' translate-' + (position - 1) : ''))
        span.previous.hidden
            i.fas.fa-caret-left
        span.next.hidden
            i.fas.fa-caret-right

        block

mixin soundcloud(url)
    div.social.font-text
        a(href=url target="_blank")
            i.fab.fa-soundcloud
            | SoundCloud

mixin mixcloud(url)
    div.social.font-text
        a(href=url target="_blank")
            i.fab.fa-mixcloud
            | MixCloud

mixin facebook(url)
    div.social.font-text
        a(href=url target="_blank")
            i.fab.fa-facebook
            | Facebook

mixin picture(link, title, comment)
    - var subcontent = ''
    - if (title) { subcontent = '<h4>' + title + '</h4>'; }
    - if (comment) { subcontent = (subcontent || '') + '<p>' + comment + '</p>'; }
    li.picture(data-src=link data-sub-html=subcontent)
        a
            img.img-responsive(src=link)
            div.gallery-content-poster
                img(src="/images/zoom.png")

mixin scrollHint()
    .scroll-hint
        span.fas.fa-angle-down
