extends layout

block content
    .main-screen
        .title
        .event-details-container
            .event-details
                h1.date#event-date
                h1.location Duclos, Quebec, Canada
                .countdown#countdown
                    span.component#days
                        span.count 420
                        span.unit= translate('home.days')
                    span.component#hours
                        span.count 24
                        span.unit= translate('home.hours')
                    span.component#minutes
                        span.count 60
                        span.unit= translate('home.minutes')
                    span.component#seconds
                        span.count 60
                        span.unit= translate('home.seconds')

        +framedContent("/images/logos/final-with-alien.png")(class="vision")
            h2= translate('home.vision.title')
            p= translate('home.vision.description')
            h5= translate('pound.the.ground')

        +scrollHint()
block scripts
    script(type="application/javascript" src="javascripts/custom/countdown.js")
