extends ../layout

block content
    .info
        .intro-container
            .center
                h1.with-shadows= translate('nav.info.camping')
        +articleBlock('/images/camping.jpg')
            p= translate('info.camping.description')

            h2= translate('info.camping.washroom.title')
            p= translate('info.camping.washroom.description')

            h2= translate('info.camping.waste.title')
            p= translate('info.camping.waste.description')

            h2= translate('info.camping.garbage.title')
            p= translate('info.camping.garbage.description')

            h2= translate('info.camping.butts.title')
            p= translate('info.camping.butts.description')
